@charset "utf-8";
.container {
	width: 1000px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	color: #6FF;
}
.content {
	color: #FFF1DA;
	width: 990px;
}


.banner {
	width: 1000px;
}
.content {
	width: 1000px;
}


